.professor_graf {
  width: 100%;
  margin: 0;
}

.professor_graf .professor_shared_board {
  width: 50%;
  margin: 0;
  float: left;
}

.professor_graf .professor_time_line {
  width: 50%;
  margin: 0;
  float: left;
}

.professor_graf .professor_dash_board {
  width: 100%;
  margin: 0;
}

.professor_shared_board {
  justify-content: center;
  text-align: center;
  width: 40%;
  padding: 5%;
  border-radius: 10px;
  background-color: #ebf3e3;
  margin-right: 4%;
}

.professor_time_line {
  justify-content: center;
  text-align: center;
  width: 60%;
  background-color: #ebf3e3;
  border-radius: 10px;

}

.share-number {
  font-weight: bold;
  color: green;
  font-size: 120px;
  margin: 0;
}