body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 0px;
    display: flex;
    width: 100%;
}

div {
    margin: 0;
}

section {
    margin: 25px;
}

main section div {
    text-align: left;
}

.student_friends {
    width: 70%;
    text-align: left;
}

.student_notifications{
    width: 30%;
    text-align: right;
    background: #015913;
    border-radius: 10px;
}

div ul.student_n_list {
    margin-block-start: 0px;
    padding: 0;
    list-style: none;
}