.student_all_boards_container {
  margin-left: 5%;
}

.student_all_boards_container .student_new_board .new_board {
  width: 25%;
  margin: 0;
  float: left;
  text-align: center;
}

.student_all_boards_container .student_new_board .new_board .new_board_btn {
  background-color: rgb(248, 85, 35);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 120px;
  font-size: 40px;
  margin-left: 25%;
}

.student_all_boards_container .board-new-popup {
  display: none;
  border-radius: 10px;
  top: 10%;
  left: 37%;
  position: fixed;
  border: 1px solid #000;
  z-index: 9;
}

.student_all_boards_container .board-new-popup .form-container {
  max-width: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.student_all_boards_container .board-new-popup .form-container textarea{
  border-radius: 5px;
  margin-top: 10px;
}
.student_all_boards_container .board-new-popup .title_new_board {
  color: #015913;
}

.student_all_boards_container .board-new-popup label {
  font-weight: bold;
}

.student_all_boards_container .board-new-popup input {
  padding: 1%;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #000;
  margin: 5px 0;
}

.student_all_boards_container .board-new-popup select {
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.student_all_boards_container .board-new-popup .btn {
  background-color: #00C428;
  border: 1px solid #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.student_all_boards_container .board-new-popup .btn_close {
  margin-left: 90%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: large;
}

.student_all_boards_container .input-description {
  height: 200px;
}

.student_all_boards_container .search_all_boards {
  margin-top: 2%;
  border-radius: 25px;
  border-width: 1px;
  width: 60%;
  border-radius: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student_all_boards_container .search_all_boards input {
  width: 90%;
  padding-left: 2%;
  height: 30px;
  border: none;
  outline: none;
}

.student_all_boards_container .search_all_boards:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.student_all_boards_container .search_all_boards .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.student_all_boards_container .title_new_board {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.student_all_boards_container .last {
  font-size: 20px;
  font-weight: bold;
  color: rgb(143, 143, 143);
  font-style: italic;
}

.student_all_boards_container .all {
  font-size: 20px;
  font-weight: bold;
}

.student_all_boards_container .student_new_board {
  background-color: rgb(230, 230, 230);
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 90%;
}

.student_all_boards_container .student_all_board {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 90%;
}
