.student_all_boards_container {
  margin-left: 5%;
}

.student_all_boards_container .student_new_board .new_board {
  width: 25%;
  margin: 0;
  float: left;
  text-align: center;
}

.student_all_boards_container .student_new_board .new_board .new_board_btn {
  background-color: rgb(248, 85, 35);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 120px;
  font-size: 40px;
  margin-left: 25%;
}

.student_all_boards_container .board-new-popup {
  display: none;
  border-radius: 5px;
  top: 0;
  left: 40%;
  position: fixed;
  border: 1px solid #000;
  z-index: 9;
}

.student_all_boards_container .board-new-popup .form-container {
  max-width: 450px;
  padding: 10px;
  background-color: #fff;
}

.student_all_boards_container .board-new-popup .title_new_board {
  color: #015913;
}

.student_all_boards_container .board-new-popup label {
  font-weight: bold;
}

.student_all_boards_container .search_all_boards {
  margin-top: 2%;
  border-radius: 25px;
  border-width: 1px;
  width: 60%;
  border-radius: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student_all_boards_container .search_all_boards input {
  width: 90%;
  padding-left: 2%;
  height: 30px;
  border: none;
  outline: none;
}

.student_all_boards_container .search_all_boards:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.student_all_boards_container .search_all_boards .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.student_all_boards_container .title_new_board {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.student_all_boards_container .last {
  font-size: 20px;
  font-weight: bold;
  color: rgb(143, 143, 143);
  font-style: italic;
}

.student_all_boards_container .all {
  font-size: 20px;
  font-weight: bold;
}

.student_all_boards_container .student_new_board {
  background-color: rgb(230, 230, 230);
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 90%;
}

.student_all_boards_container .student_all_board {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 90%;
}
