body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard_student {
    margin: 0;
    display: inline-block;
    margin-bottom: 0;
}

.time-boars {
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    margin-bottom: 3%;
}

.percentage-academic {
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    margin-bottom: 3%;
}

.boards-recent{
    margin-bottom: 2%;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.boards-recent{
    margin-bottom: 0;
}

.boards {
    margin-top: 0;
    margin: 2%;
    height: 30%;
    
}

.student_graf {
    display: flex;
    margin: 3%;
    
}

.student_time_line {
    width: 50%;
    justify-content: center;
    text-align: center;
    background-color: #ebf3e3;
    margin: 1%;
    margin-left: 0;
    border-radius: 10px;
    padding: 1%;
    position: relative;
}

.board-type {
    width: 50%;
    margin: 1%;
    justify-content: center;
    text-align: center;
    background-color: #ebf3e3;
    border-radius: 10px;
    padding: 1%;
    position: relative;
}

h1 {
    font-size: 40px;
    margin-top: 0;
}

.student_dash_board_g{
    background-color: #ebebeb;
    border-radius: 10px;
    height: 55%;
    justify-content: center;
    padding: 2%;
    padding-bottom: 0;
}

